<form [formGroup]="loginForm" (ngSubmit)="login()">
  
    <label>
      username:
      <input type="text" formControlName="username">
    </label>
  
    <label>
      password:
      <input type="text" formControlName="password">
    </label>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>

  </form>

<br>
<hr>
<br>

<form [formGroup]="registerForm" (ngSubmit)="register()">
  
    <label>
      username:
      <input type="text" formControlName="Rusername">
    </label>
  
    <label>
      password:
      <input type="text" formControlName="Rpassword">
    </label>

    <button type="submit" [disabled]="!registerForm.valid">Register</button>

  </form>